<launch>
    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="false"/>
    <node name="tuck_arms" pkg="baxter_tools" type="tuck_arms.py" args="-u"/>

    <!-- =================================================================== -->
    <!--        2. Launch/Run the perception part of the project    -->
    <!-- =================================================================== -->
    <!-- <node name="start_rviz" pkg="rviz" type="rviz"  output="screen" args="-d $(find baxter_cashier_perception)/launch/rviz_config.rviz"/> -->

    <!-- Custom service that tracks user's hand pose and return the pose -->
    <node pkg="baxter_cashier_perception" type="body_tracker_listener.py" name="body_tracker_service"/>
    <node pkg="baxter_cashier_perception" type="banknote_recogniser.py" name="banknote_recogniser"/>

    <!-- =================================================================== -->
    <!--        3. Launch/Run the manipulation part of the project    -->
    <!-- =================================================================== -->

    <!-- Run the main script for the Baxter Cashier -->
    <node pkg="baxter_cashier_manipulation" type="shopkeeper.py" name="shopkeeper" output="screen"/>
</launch>
