<!--
Copyright (C)  2016/2017 The University of Leeds and Rafael Papallas

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<launch>
    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="false"/>
    <!-- <node name="tuck_arms" pkg="baxter_tools" type="tuck_arms.py" args="-u"/> -->

    <!-- =================================================================== -->
    <!--        2. Launch/Run the perception part of the project    -->
    <!-- =================================================================== -->
    <!-- Custom service that tracks user's hand pose and return the pose -->
    <node pkg="baxter_cashier_perception" type="body_tracker_listener.py" name="body_tracker_service"/>
    <include file="$(find baxter_cashier_perception)/launch/baxter_head_camera_ar_track.launch" />
    <node pkg="baxter_cashier_perception" type="banknote_recogniser.py" name="banknote_recogniser"/>

    <!-- =================================================================== -->
    <!--        3. Launch/Run the manipulation part of the project    -->
    <!-- =================================================================== -->

    <!-- Run the main script for the Baxter Cashier -->
    <node pkg="baxter_cashier_manipulation" type="cashier.py" name="cashier" output="screen"/>
</launch>
